gpu_id: 0
multi_gpus: True
num_workers: 4
seed: 666
exp_name: 'expMSRVTT-QA_Swinv2'

train:
  lr: 0.0001
  batch_size: 32
  restore: False
  max_epochs: 50
  word_dim: 300
  motion_dim: 1024 #1024 2048
  appearance_dim: 1536 #1536 2048
  module_dim: 512
  glove: True


val:
  flag: True

test:
  test_num: 0
  write_preds: False

dataset:
  name: 'msrvtt-qa'
  question_type: 'none'
  data_dir: 'data/msrvtt-qa/'
  save_dir: 'results/'
  appearance_feat: '{}_appearance_feat.h5' 
  motion_feat: '{}_motion_feat.h5'
  appearance_dict: '{}_appearance_feat_dict_512.h5'
  motion_dict: '{}_motion_feat_dict_512.h5'